python-dotenv>=1
toml
pyyaml
numpy>=2.0.2
optype[numpy]
pandas>=2.3.3
xarray>=2025.12.0
scipy>=1.16.3
jax>=0.8.2
memo-lang>=1.2.7
matplotlib>=3.10.0
seaborn>=0.13.0
marimo>=0.18.4
anywidget>=0.9.0
altair
plotly<6.0.0
